@font-face {
  font-family: 'playFairDisplay';
  src: url('fonts/PlayfairDisplay-Regular.otf');
}
* {
  font-family: 'playFairDisplay', serif;
  /* border: 1px solid red; */
}
h1 {
  font-size: 4vw;
  line-height: 4vw;
}
h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.25vw;
}
h3 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 2.75vw;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #626262;
}
a:hover {
  color: #d4b3ac;
}
a:active {
  color: #626262;
}
.row {
  padding: 0;
  margin: 0;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-brand > img {
  max-width: 25vw;
  margin: 1vw 0 0 2vw;
}
.navbar-nav li {
  text-transform: uppercase;
  margin: 1vw 3vw 0 3vw;
  font-size: 1.25vw;
}
.navbar-light .navbar-nav .nav-link {
  color: #626262;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #d4b3ac;
}
.navbar-light .navbar-nav .nav-link:active {
  color: #626262;
}
.jumbotron-div {
  margin-top: -2.25vw;
  z-index: -10;
  position: relative;
}
.ourStory {
  padding: 6vw 0;
}
.ourStory h1,
.ourStory h2 {
  padding-left: 100px;
}
.ourStory p {
  text-align: center;
  padding: 0 3vw;
}
.ourStory p:last-child {
  padding-bottom: 50px;
}
.contactSection {
  color: white;
  margin: 50px 0 35px 0;
  background: url('../img/Tina+Anthony-32.png') no-repeat bottom center;
  background-size: contain;
  height: 75vw;
}
.contactSection p {
  font-size: 2vw;
}
.btn-cu {
  padding: 1vw 2vw;
}
footer p {
  font-size: 15px;
}
.pinkLink {
  color: #d4b3ac;
}
.pinkLink:hover {
  color: #436a6f;
}
.pinkLink:active {
  color: #d4b3ac;
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px)
{
  h1 {
    font-size: 8vw;
    line-height: 8vw;
  }
  h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.75vw;
  }
  h3 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 5vw;
  }
  .navbar-brand > img {
    max-width: 50vw;
    margin: 0;
  }
  .jumbotron-div {
    margin-top: 0px;
    z-index: -10;
    position: relative;
  }
  .ourStory h1,
  .ourStory h2 {
    padding-left: 0;
    text-align: center;
  }
  .collections img {
    max-height: 50vw;
  }
  .collections h1,
  .collections h2 {
    text-align: center;
  }
}
