@font-face {
  font-family: 'playFairDisplay';
  src: url('fonts/PlayfairDisplay-Regular.otf');
}
* {
  font-family: 'playFairDisplay', serif;
  /* border: 1px solid red; */
}
h1 {
  font-size: 55px;
  line-height: 75px;
}
h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 18px;
}
h3 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 40px;
}
.row {
  padding: 0;
  margin: 0;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-brand > img {
  max-width: 25vw;
  margin: 25px 0 0 50px;
}
.navbar-nav li {
  text-transform: uppercase;
  margin: 25px 60px 0 60px;
  font-size: 18px;
}
.jumbotron-div {
  margin-top: -40px;
  z-index: -10;
  position: relative;
}
.ourStory {
  padding: 100px 0;
}
.ourStory h1,
.ourStory h2 {
  padding-left: 100px;
}
.ourStory p {
  text-align: center;
}
.ourStory p:last-child {
  padding-bottom: 50px;
}
.contactSection {
  color: white;
  margin-top: 75px;
  background: url('../img/Tina+Anthony-32.png') no-repeat center center;
  background-size: contain;
  /* background-image: url('../img/Tina+Anthony-32.png'); */
  height: 1365px;
}
.contactSection p {
  font-size: 35px;
}
.btn-cu {
  padding: 15px 50px;
}
